* {
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    background-color: white;
    overflow: scroll;
}

#page{
    width: 960px;
    margin: auto;
    padding-bottom: 15px;
    background-color: rgb(235,243,247);
    font-family: "Arial", sans-serif;
}

#headerbar{
    clear: both;
}

#headerimage{
    padding: 50px;
    padding-bottom: 15px;
    float: left;
}

#pagetitle{
    padding-top: 50px;
    font-size: xx-large;
    font-weight: 600;
}

#navigation{
    margin-top: 50px;
}

#navigation ul{
    float: left;
}

#navigation li{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(173,192,204);
}

#navigation li a{
    color: rgb(87,91,93);
    text-decoration: none;
    font-weight: bold;
}

#navigation li:hover{
    border-bottom: solid rgb(92,180,209);;
}

#search input{
    border: 1px solid rgb(87,91,93);;
    width: 140px;
    padding: 5px;
}

#forum{
    clear: left;
}

.post{
    background-color: rgb(173,192,204);
    padding: 25px; 
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 25px;
    margin-bottom: 15px;
    border-bottom: thin solid black;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
}

.thread{
    font-family: "Arial Black", sans-serif;
    border-bottom: thin solid black;
    margin-bottom: 10px;
    width: 100%;
}

.user{
    width: 235px;
    margin-right: 25px;
}

.user ul{
    list-style-type: none;
}

.avatar{
    width: 235px;
    border-radius: 8px;
}

.user span{
    font-family: "Arial Black", sans-serif;
}

.message{
    background-color: rgb(190,209,221);
    width: 550px;
    padding: 15px;
    padding-top: 10px;
}

.message span{
    font-size: smaller;
}

.content{
    margin-top: 10px;
}